<a href="https://colab.research.google.com/github/AswiniSridhar/LetsUpgrade_AIML/blob/master/Day3_Assignment_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Complex number subtraction


import cmath 
import math

a = 2+2j
b = 4+5j

sub = a - b
print(sub)
print(type(sub))

(-2-3j)
<class 'complex'>

In [3]:
# 2. th root of a number

import math

n = int(input("Enter the root needs to be calculated: "))
x = int(input("Enter the number: "))

SquareRoot = x**(1/n)
round(SquareRoot)
print(SquareRoot)

Enter the root needs to be calculated: 4
Enter the number: 16
2.0

In [4]:
# 3. Swap 2 number using temporary variables
import math
num = input("Enter the 1st number: ")
num1 = input("Enter the 2st number: ")
print("num: "+num)
print("num1: "+num1)

temp = num
num = num1
num1 = temp

print("After swapping")
print("num: "+num)
print("num1: "+num1)

Enter the 1st number: 20
Enter the 2st number: 30
num: 20
num1: 30
After swapping
num: 30
num1: 20

In [5]:
# 4. Swap 2 number without using temporary variables

import math
a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2st number: "))

print("a: " ,a)
print("b: " ,b)

a=a+b
b=a-b
a=a-b

print("After Swapping")
print("a: " ,a)
print("b: " ,b)

Enter the 1st number: 11
Enter the 2st number: 21
a:  11
b:  21
After Swapping
a:  21
b:  11

In [6]:
# 5. 

# 1. Fahrenheit to celsius

fahrenheit = float(input("Temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print("Fahrenheit to celsius: ", celsius)

# 1. Fahrenheit to kelvin

fahrenheit_1 = float(input("Temperature in fahrenheit: "))
kelvin = 273.5 + ((fahrenheit_1 - 32.0) * (5.0/9.0))
print("Fahrenheit to kelvin: ", kelvin)

Temperature in fahrenheit: 67
Fahrenheit to celsius:  19.444444444444443
Temperature in fahrenheit: 67
Fahrenheit to kelvin:  292.94444444444446

In [19]:
# 6. All datatypes in python

# Integer
a  = 10
print("Data Type of a is",type(a))
# Float
b  = 8.9e105
print("Data Type of b is",type(b))
# String
c  = "SriRam"
print("Data Type of c is",type(c))
# Complex number
d  = 36+2j
print("Data Type of d is",type(d))
# Boolean
bol  = True
print("Data Type of bol is",type(bol))
# List
Lis  = [1,'a',"ssjfg",0]
print("Data Type of Lis is",type(Lis))
# Tuple
Tup  = (1,'a',"ssjfg",0)
print("Data Type of Tup is",type(Tup))
# Dictionary
Dic  = {1:4,'a':'V',"ssjfg":'U',0:"jfsjfhj"}
print("Data Type of Dic is",type(Dic))

Data Type of a is <class 'int'>
Data Type of b is <class 'float'>
Data Type of c is <class 'str'>
Data Type of d is <class 'complex'>
Data Type of bol is <class 'bool'>
Data Type of Lis is <class 'list'>
Data Type of Tup is <class 'tuple'>
Data Type of Dic is <class 'dict'>