<a href="https://colab.research.google.com/github/AswiniSridhar/LetsUpgrade_AIML/blob/master/Day_6_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "jhejhje&*FGHFG" 
k = " "
j = " "
b =  ''.join(j for j in a if j.islower())
print(b)

jhejhje

In [ ]:
# Question: 1
str = input("Enter the E-mail Id: ")
def companyName(s):
    a = s.split('@')
    b = a[1]
    c = b.split('.')
    d = c[0]
    return d

print("Company name from the email Id: ",companyName(str))

# s = "john@google.com"

In [7]:
# Question 2:# Question 2:

str = input("Enter comma seperated string: ")

def SortedString(a):
    lis = str.split(',')
    lis.sort()
    str_1 = ""
    ln = len(lis)
    for i in  lis:
        str_1 +=i
        str_1 +=','
    return str_1

print("String after sorting: ",SortedString(str))

Enter comma seperated string: Rama,Seetha,Lava,Kusa
String after sorting:  Kusa,Lava,Rama,Seetha,

In [9]:
# Question 3:

In [18]:
# Question 4:

list = [1,2,4,5,7,9]
res = [ele for ele in range(max(list)+1) if ele not in list]
print(res)

[0, 3, 6, 8]

In [20]:
# Question 5:

list = [1,2,9,4,5,4,7,9,1]
def removeDuplicate(lis):
  for i in list:
    if(list.count(i)!=1):
      list.remove(i)
  return list
print(removeDuplicate(list))

[2, 5, 4, 7, 9, 1]